<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <content tag="javascript">
            <script type="text/javascript" src="/jquery-2.2.0.min.js"></script>
            <script type="text/javascript" src="/jquery-ui.min.js"></script>
            <script type="text/javascript" src="/jquery-ui.js"></script>
            <script type="text/javascript" src="/registration.js"></script>
        </content>
        <table>
            <thead>
                <tr>
                    <th>PESEL</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Initial balance PLN</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ar: ${accountRegistrations}">
                    <td th:text="${ar.getPesel()}"/>
                    <td th:text="${ar.getFirstName()}"/>
                    <td th:text="${ar.getLastName()}"/>
                    <td th:text="${ar.getInitialBalancePLN()}"/>
                </tr>
            </tbody>
        </table>
        <form id="registrationForm" method="POST" action="/registration">
            <table>
                <tbody>
                <tr>
                    <th>PESEL</th><td><input name="pesel"/></td>
                </tr>
                <tr>
                    <th>First name</th><td><input name="firstName"/></td>
                </tr>
                <tr>
                    <th>Last name</th><td><input name="lastName"/></td>
                </tr>
                <tr>
                    <th>Initial balance PLN</th><td><input name="inititalBalancePLN"/></td>
                </tr>
                </tbody>
            </table>
            <button type="button" onclick="submitRegistration('/registration','/rest-api/registration')">Submit</button>
        </form>
    </body>
</html>